#map{
    width:70%;
    height:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}
img{
    margin-bottom: -6px; cursor: pointer
}
img:hover{
    opacity: 0.6; transition: 0.3s
}
